allow init sysfs_devices_system_cpu:{ file lnk_file } rw_file_perms;
allow init vendor_sysfs_leds:file w_file_perms;
allow init vendor_sysfs_leds:file setattr;
